<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="shortcut icon" href="/assets/img/thumbnail.jpeg" />

  <!-- /assets/img/thumbnail.png -->

  <meta name="thumbnail" content="/assets/img/thumbnail.png" />
  <meta property="og:image" content="/assets/img/thumbnail.png"/>
  <meta name="description" content="Remember: Lorem Ipsum is everything on the web.">
  <meta name="p:domain_verify" content="0b12e07a4feaad3b7aa48fee8ecae8db"/>

  <!-- Open Graph data -->
  <meta property="og:title" content="Ace Attorney Lorem Ipsum Generator" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.aceattorneyipsum.com/" />
  <meta property="og:description" content="Remember: Lorem Ipsum is everything on the web." />
  <meta property="og:site_name" content="Ace Attorney Lorem Ipsum Generator" />
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Ace Attorney Lorem Ipsum Generator">
  <meta name="twitter:description" content="Remember: Lorem Ipsum is everything on the web.">
  <meta name="twitter:creator" content="@Maxwell_Dev">
</head>
