@import '../_tools/colors';

// This function pulls specific color values from the below map
@function color($color, $tone: 'base') {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// All color palettes

$g-color--shade: 30%;

$g-color--primary: #30518a;
$g-color--secondary: #3FB2B8;
$g-color--action: #f3307d;
$g-color--mono: #cbcbcb;


// Map for storing all color variables
$color-map: (
  primary: (
    lighter: tint($g-color--primary, 80%),
    light: tint($g-color--primary, $g-color--shade),

    base: $g-color--primary,

    dark: shade($g-color--primary, $g-color--shade)
  ),

  secondary: (
    base: $g-color--secondary,

    light: tint($g-color--secondary, $g-color--shade),

    dark: shade($g-color--secondary, $g-color--shade)
  ),

  action: (
    base: $g-color--action,

    light: tint($g-color--action, $g-color--shade),

    dark: shade($g-color--action, $g-color--shade)
  ),

  mono: (
    base: $g-color--mono,

    light: #eee,

    dark: #111
  )
);
