{% layout 'default' %}

{% block body %}

<p>
  Present your number of placeholder paragraphs. The judge will render the placeholder text.
</p>

<p>
  Remember: <strong>Lorem Ipsum is everything on the web.</strong>
</p>

<form action="/" method="post" class="aa-c-ipsumInput">
  <input class="aa-c-ipsumInput__input" name="paragraphs" type="number" placeholder="Number of Paragraphs" required autofocus>

  <input class="aa-c-ipsumInput__button" type="submit" value="Generate!">
</form>


<h4>
  Here's a foolish example of some foolish sample text for a foolhardy fool
</h4>

<div class="aa-c-example">
  {% include 'ipsum' %}
</div>

{% endblock %}
